* {
  color: black;
  border-color: #000000;
  /* border: 1px solid black; */
}

.PanelPosition {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PanelContainer {
  width: 650px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Logout {
  height: 60%;
  width: 30px;
  align-self: flex-start;
  cursor: pointer;
}

.LogoutIco {
  height: 100%;
}

.Header {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NextSteps {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.NextSteps > p {
  margin-bottom: 5px;
}