
.SectionDividerButton-about-corp {
  height: 9% !important;
  width: 117px !important;
  background-color: white !important;
  color: rgb(146, 126, 178) !important;
  border: solid 1px rgb(146, 126, 178) !important;
  transition: all 0.2s ease !important;
  padding: 20px !important;
  border-radius: 0 !important;
  line-height: 3px !important;
}

.SectionDividerButton-about-corp-to {
  height: 9% !important;
  width: 117px !important;
  background-color: white !important;
  color: rgb(146, 126, 178) !important;
  border: solid 1px rgb(146, 126, 178) !important;
  transition: all 0.2s ease !important;
  padding: 20px !important;
  border-radius: 0 !important;
  line-height: 3px !important;
  margin-right: 15px;
}

.SectionDividerButton-about-corp-to:hover {
  background-color: rgb(146, 126, 178) !important;
  color: white !important;
  border: solid 1px rgb(146, 126, 178) !important;
  border:white;
}

.SectionDividerButton-about-corp:hover {
  background-color: rgb(146, 126, 178) !important;
  color: white !important;
  border: solid 1px rgb(146, 126, 178) !important;
  border:white;
}

.landing-wrapper {
  animation: fader 0.5s ease;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corp-contain {
  padding: 40px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
}

.corp-toggle{
  color:white;
}

.corp-hover{
  margin-top: 5%;
}

.corp-hover-2{
  margin-top: 30px;
  text-align: left;
}

.corp-p-l{
  overflow-y:hidden;
  overflow-x:hidden;
  background-color: red;
  width: 400px;
  height: 300px;
  padding: 150px;
}

.about-corp-banner{
  width: 100vw;
  height: 50vh;
  background:
  linear-gradient(
    rgba(57, 12, 132, 0.45),
    rgba(67, 36, 95, 1)
  ),
  url("../../../assets/security.jpg");
  background-size: cover, cover;
  background-position: center, bottom;
  background-repeat: no-repeat;
  color: white;
}

.corp-banner-label{
color:white;
line-height: 5;
padding-left: 50px;
}

.section1{
  text-align: center;
  padding: 70px;
}

.section1 p{
  font-size: 30px;
  margin-bottom: 40px;
}

.section1 ul li{
  margin: auto;
  text-align: center;
  width: 70%;
  line-height: 23px;
}

.section2 p{
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: white;
}

.section2 ul li{
  color: white;
  line-height: 23px;
}

.section2{
  display: flex;
  padding: 50px;
  width: 100vw;
  background-color: #917EB3;
}

.icon-corporate{
  width: 38%;
  background-image: url('../../../assets/keyhole (1).svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-left: 316px;
  margin-right: 100px;
  margin-bottom: 150px;
  margin-top: 68px;
}

.security-words{
  padding-left: 50px;
  padding-right: 90px;
}
