@import 'https://fonts.googleapis.com/css?family=Raleway';
/* html {
  overflow: hidden;
} */
.coin-info-container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: flex;
  margin-top: 150px;
}

.company-reg2-container{
  display: flex;
  padding-top: 50px;
  padding: 50px;
  text-align: center;
}
.company-coin-info{
  margin: 50px;
}

.coin-info{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 100px;
}

.nxt-btn{
  position: relative;
  left:6px;
  margin-top: 100px;
}

@keyframes popin {
  0% { top: 100vh; position: relative; }
  100% { top: 0; position: relative; }
}
.coin-name-allow-cont{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  animation: popin 0.5s linear, fadin 1s linear;
}


.powered-by-coin {
  font-size: x-small;
  margin-top: 150px;
  text-align: center;
}

.company-coin-logo{
  margin-left: 150px;
}

.label-currency{
  margin-bottom: 35px;
}

.coin-upload{
  height: 200px;
  width: 200px;
}
