@import 'https://fonts.googleapis.com/css?family=Raleway';

.coin-info-container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: flex;
  margin-top: 150px;
}

.company-reg2-container{
  display: flex;
  padding-top: 50px;
  padding: 50px;
  text-align: center;
}
.company-coin-info{
  margin: 50px;
}

input {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 100px;

}

.nxt-btn{
  position: relative;
  left:6px;
  margin-top: 100px;
}

.coin-name-allow-cont{
  padding: 40px;
  text-align: center;
  padding-left: 85px;
}


.powered-by-coin {
  font-size: x-small;
  margin-top: 150px;
  text-align: center;
}

.company-coin-logo{
  margin-left: 150px;
}

.label-currency{
  margin-bottom: 35px;
}
