.LandingHeader {
  width: 100vw;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('../../assets/banner.jpg');
  background-position: left, bottom;
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
}

.LandingTitle {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.LandingLogo {
  flex-shrink: 0.2;
  width: 100%;
  height: 20%;
  margin-bottom: 2.4rem;
  background-image: url('../../assets/zendomologo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.LogoTextWrap > h1 {
  color: white !important;
}

.InputLogin {
  border-radius: 0 !important;
  background-color: transparent !important;
  color: white !important;
  height: 23% !important;
  font-family: 'Raleway';
  font-size: 1.6rem;
  border: 1px solid white !important;
  width: 100% !important;
  margin-bottom: 15px;
  transition: all 0s ease-in;
}

.InputLogin:focus{
  background-color: rgba(255,255,255,0.1) !important;
}

.InputLogin::-webkit-input-placeholder {
  color: white;
}

.LandingForm {
  margin: auto;
  width: 45%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.LoginForm {
  height: 37%;
}

.LoginForm > p {
  color: white;
}

.landing-button {
  height: 23% !important;
  width: 140px !important;
  background-color: white !important;
  color: rgb(146, 126, 178) !important;
  border: solid 1px !important;
  border-color: white !important;
  padding: 20px !important;
  border-radius: 0 !important;
  align-self: left !important;
  transition: all 0.2s ease !important;
  line-height: 3px !important;
}

.landing-button:hover {
  background-color: rgb(146, 126, 178) !important;
  color: white !important;
}





@keyframes fader {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.landing-wrapper {
  animation: fader 0.5s ease;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-business {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(rgb(217,217,252), rgba(217, 217, 252, 0.65), rgb(217,217,252));
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.landing-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:5vh;
  padding-bottom:10vh;
}

.landing-desc-txt {
  padding-bottom: 2vh;
  font-size: 30px;
  text-align: center;
}

.landing-desc-alt-txt {
  text-align: center;
}

.landing-title {
  padding-top: 5vh;
  display: flex;
  flex-basis: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.landing-title-text {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 1vw;
}

.landing-top-bar {
    position: absolute;
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.landing-bottom-bar {
  background-color: rgb(217,217,252);
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}

.spacer {
  opacity:0;
}

.smallspacer {
  opacity:0;
}

.corp-container {
  width: 70vw;
}

::-webkit-scrollbar {
  width: 0px;
}

.landing-desc-corp {
  border-width: 20px;
  border-style: solid;
  border-color: white;
  overflow-y: scroll;
  margin: 20px;
}

.landing-desc-personal {
  max-width: 80vw;
  padding: 15px;
  overflow-y: scroll;
}