@keyframes fadin {
  0% { opacity: 0 }
  100% {opacity: 1 }
}

@keyframes popin {
  0% { top: 100vh; position: relative; }
  100% { top: 0; position: relative; }
}

.logo-upload-container {
  background-color: #ddd;
  border-radius: 25px;
  padding: 15px;
  border-style: dashed;
  border-color: #bbb;
  opacity: 0.5;
  width:150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}

.logo-upload-container:hover {
  opacity: 0.8;
}

.logo-upload-text {
  display: flex;
  flex-flow: nowrap row;
  color: grey;
}

.nxt-btn-cp {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  width: 150px;
  text-align: center;
  border: solid 1px;
  padding: 0 15px 0 15px;
  background-color: white;
  color: black;
  transition: all 0.2s ease;
  margin-top: 2.5vh;
}
.nxt-btn-cp:hover {
  background-color: rgba(88, 51, 161, 0.685);
  color: white;
}

.MaxWidth {
  animation: fadin 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.company-reg-container{
  display: flex;
  padding: 50px;
  text-align: center;
}

.company-signup-info{
  padding: 40px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cp-reg-1 {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 100px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.company-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-logo p{
  height: 90px;
  line-height: 90px;
  text-align: center;
}

.powered-by {
  font-size: x-small;
  text-align: center;
}

.img-company-reg-logo{
  height: 150px;
  width: 150px;
}

.add-logo{
  display: flex;
}

.cmpy-reg-1-label{
  text-align: center;
}

.coin-info{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 100px;
}

.nxt-btn{
  position: relative;
  left:6px;
  margin-top: 100px;
}

.coin-name-allow-cont{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  animation: popin 0.5s linear, fadin 1s linear;
}