.PopUpImgWrap {
  width: 85%;
  height: 51.847%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-size: cover;
}

.PopUpImgWrapService {
  width: 85%;
  height: 28%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-size: cover;
}

.PopUp > h3, .PopUp > h5 {
  margin: 0;
  padding: 0;
}

.PopUp > h3 {
  font-size: 30px;
}

.PopUp > h5 {
  font-size: 15px;
}

.PopUp > p {
  width: 85%;
}

.QuantitySelector {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuantityModifier {
  font-family: "Raleway" !important;
  width: 42px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  text-align: center !important;
  font-size: 60px !important;
  font-weight: 100 !important;
  vertical-align: center !important;
  margin-bottom: 0 !important;
}

.Minus {
  padding-bottom: 7px !important;
  line-height: 1px !important;
}

.QuantityInput {
  font-family: "Raleway" !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  text-align: center !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius:0 !important;
  margin-bottom: 0 !important;
}

.QuantityInput::-webkit-outer-spin-button,
.QuantityInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Schedule > tr {
  line-height: 0;
}

.Schedule > thead > tr > th {
  width: 26px !important;
  height: 26px !important;
  padding: 0 !important;
  font-weight: 400 !important;
  margin: 0 !important;
  text-align: center;
}

.Schedule > tbody > tr > td {
  width: 26px !important;
  height: 26px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.ScheduleTime.DayColumn {
  text-align: right !important;
  padding-right: 5px !important;
}

.Available {
  border: 1px solid green !important;
  background-color: rgba(0, 128, 0, 0.400) !important;
  cursor: pointer;
}

.Unavailable {
  border: 1px solid grey !important;
  background: rgba(128, 128, 128, 0.150) !important;
}

.SelectedDate {
  border: 1px solid rgb(88, 51, 161) !important;
  background-color: rgba(88, 51, 161, 0.400) !important;
  cursor: pointer;
}

.DeletedDate {
  border: 1px solid rgb(180, 0, 0) !important;
  background-color: rgba(180, 0, 0, 0.35) !important;
  cursor: pointer;
}

.PopUpBuyButton {
  width: 64% !important;
  transition: all 0.20s ease-in !important;
}

.PopUpBuyButton.Error {
  border: 1px solid rgb(180, 0, 0) !important;
  background-color: rgba(180, 0, 0, 0.35) !important;
}

.PopUpBuyButton.Success {
  border: 1px solid green !important;
  background-color: rgba(0, 128, 0, 0.400) !important;
}