.SectionDividerButton-about-personal {
  height: 9% !important;
  width: 117px !important;
  background-color: white !important;
  color: rgb(146, 126, 178) !important;
  border: solid 1px rgb(146, 126, 178) !important;
  transition: all 0.2s ease !important;
  padding: 20px !important;
  border-radius: 0 !important;
  line-height: 3px !important;
  margin-top: 20px;
}

.SectionDividerButton-about-personal-to {
  height: 9% !important;
  width: 117px !important;
  background-color: white !important;
  color: rgb(146, 126, 178) !important;
  border: solid 1px rgb(146, 126, 178) !important;
  transition: all 0.2s ease !important;
  padding: 20px !important;
  border-radius: 0 !important;
  line-height: 3px !important;
  margin-top: 20px;
  margin-right: 15px;
}

.SectionDividerButton-about-personal-to:hover {
  background-color: rgb(146, 126, 178) !important;
  color: white !important;
  border: solid 1px white !important;
}

.SectionDividerButton-about-personal:hover {
  background-color: rgb(146, 126, 178) !important;
  color: white !important;
  border: solid 1px white !important;
}

.landing-wrapper {
  animation: fader 0.5s ease;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-desc-per {
  padding-top:5vh;
  background-color: white;
}

.landing-desc-per p{
  color: black;
}

.landing-desc-alt-txt {
  margin: auto;
  text-align: center;
  width: 70%;
}

::-webkit-scrollbar {
  width: 0px;
}

.landing-desc-personal {
    height: stretch;
    max-width: 80vw;
    padding: 50px;
    margin-top: 8%;
    display: flex;
}

.words-aboutper{
  height: 300px;
  padding: 40px;
  display: flex;
}

.about-personal-banner{
  width: 100vw;
  height: 50vh;
  background:
  linear-gradient(
    rgba(57, 12, 132, 0.45),
    rgba(67, 36, 95, 1)
  ),
  url("../../../assets/sharethelove.jpg");
  background-size: cover, cover;
  background-position-x: 0%;
  background-position-y: 29%;
  background-repeat: no-repeat;
  color: white;
}

.personal-label{
  color:white;
  line-height: 5;
  padding-left: 50px;
}

.sec2-words{
  margin-right: 50%;
  padding: 40px;
}

.section2-personal{
  background-color: #917EB3;
}

.sign-up-works{
  color: white !important;
  margin-top: 35px !important;
}

.icon-personal{
  height: 85%;
  width: 60%;
  background-image: url('../../../assets/thumbs-up.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-left: 250px;
}

.section1-personal-words{
  margin-left: 5%;
  margin-right: 9%;
}
