.ContainerCrop{
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.cropping-placeholder {
  border: dashed;
  border-color: grey;
  border-radius: 2.5vw;
  opacity: 0.5;
  height:100%;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainPannelCrop{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
  /*padding-top: 122.222px;*/
  background-color: transparent;
}

.UserInputContainerCrop{
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}

.LoadedImageCrop{
  background-size: contain;
}

.AboutContainerCrop{
  flex: 1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.ImageLoad{
  flex: 0.618;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.FileLoad{
  font-size: 14px;
  width: 200px;
}

.CropButton{
  flex: 0.618;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CropperButton{
  width: 150px;
}

.DoneBox{
  width: 150px;
}

.CroppedImageBox{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CroppedImageContainer{
  width: 150px;
  height: 150px;
  border: solid;
  border-width: thin;
  background-color: transparent;
}

.CroppedImage{
  width: 150px;
  height: 150px;
  background-color: transparent;
}

.ImageCropperCrop{
  background-size: cover;
  max-width: 150px;
  background-color: transparent;
}

.TitlePicture{
  width: 350px;
  text-align: center;
  font-size: 30px;
  background-color: transparent;
}
