.ProductCategory {
  height: 50%;
  width: 100%;
  position: relative;
}

.ProductList {
  margin: auto;
  height: 80%;
  width: 100%;
  /* position: relative; */
  display: flex;
  overflow-x: scroll;
}

.ProductList::-webkit-scrollbar {
  display: none;
}

.ArrowContainer {
  height: 80%;
  position: absolute;
  top: 5.5rem;
  right: 0;
}

.MoreContent {
  position: absolute;
  height: 20%;
  right: 0;
  margin-top: 9.5rem;
}