.SectionDividerButton-works {
  height: 9% !important;
  width: 117px !important;
  background-color: white !important;
  color: rgb(146, 126, 178) !important;
  transition: all 0.2s ease !important;
  padding: 20px !important;
  border-radius: 0 !important;
  line-height: 3px !important;
  margin-top: 30px;
  margin-left: 70%;
}

.SectionDividerButton-works:hover {
  background-color: rgb(146, 126, 178) !important;
  color: white !important;
  border: solid 1px white !important;
}

.landing-wrapper {
  animation: fader 0.5s ease;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-desc-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:5vh;
  padding-bottom:10vh;
  background:
  linear-gradient(
    rgba(57, 12, 132, 0.45),
    rgba(67, 36, 95, 1)
  ),
  url("../../../assets/howitworks.jpg");
  background-size: cover;
  padding-left: 40px;
  padding-right: 15px;
}

.landing-desc p{
  color: white;
}

.corp-container {
  width: 70vw;
}

::-webkit-scrollbar {
  width: 0px;
}

.landing-desc-corp {
  border-width: 20px;
  border-style: solid;
  border-color: white;
  overflow-y: scroll;
  margin: 20px;
}

.landing-desc-how {
  margin-top: 85px;
  height: 400px;
}

.corp-toggle-works{
  line-height: 23px;
  padding: 40px;
}

.how-works-banner{
  width: 100vw;
  height: 50vh;
  background:
  linear-gradient(
    rgba(57, 12, 132, 0.45),
    rgba(67, 36, 95, 1)
  ),
  url("../../../assets/howitworks.jpg");
  background-size: cover, cover;
  background-position: 0%, 53%;
  background-repeat: no-repeat;
}

.how-label{
  color:white;
  line-height: 5;
  padding-left: 50px;
  margin-right: 50%;
}

.section2-works{
background-color:#917EB3;
}

.works-section1-label{
  font-size: 25px;
  padding-left: 50px;
}

.section2-words{
  padding: 40px;
  margin-left: 50%;
}

.section2-words p{
  color:white;
}

.para-1{
  margin-top: 50px;
}

.section1-personal{
  display: flex;
}

.icon-howitworks{
  width: 50%;
  background-image: url('../../../assets/pay-per-click.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-right: 250px;
  margin-bottom: 50px;
}
