.AX-Admin-TransactionItem{
  display: flex;
  flex-direction: column;
  background-color: #DFDFDF;
}

.AX-date{
  font-weight: bold;
  font-size: 12px;
}

.AX-TransData{
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  padding-left: 20px;
}

.AX-Admin-TransactionCol{
  font-size: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 200px;
}

#AX-digits{
  justify-content: flex-end;
  width: 100px;
}

.AX-Admin-TransactionUserName{
  margin-left: 10px;
}

.AX-Admin-TransactionSummary{
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
}
.main-table{
  width:100%;
}

.da-button{
  font-size: 20px;
  transition: all 0.3s ease;
}
.da-button:hover{
  color: rgba(88, 51, 161, 0.685);
}
.Admin-TransactionOverflowBox{
  display: flex;
  flex-flow: row nowrap;
}
.Admin-TransactionNavigation{
  padding-left: 45%;
  width: 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}