.WalletContainer{
  max-width: 960px;
  height: 100vh;
  margin: auto;
  background-color: white;
  display: flex;
}

.PannelContainer{
 flex: .75;
 background-color: green;
 display: flex;
 flex-direction: column;
}

.PannelProfileInfo{
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.UserProfilePicture{
  height: 150px;
  width: 150px;
  border: solid;
  border-width: thin;
  border-color: grey;
}

.UserProfileImage{
  height: 150px;
  width: 150px;
  background-color: white;
}
.UserProfileName{
  margin-top: 10px;
  font-size: 20px;
}

.PannelToolBar{
  flex: 3;
  background-color: purple;
}

.DashContainer{
 flex: 3;
 background-color: transparent;
 display: flex;
 flex-direction: column;
}

.HeaderContainer{
  flex: 1;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SummaryContainer{
  flex: 3;
  background-color: lightgreen;
  display: flex;
}

.SummaryDividerPie{
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.SummaryDivider{
  flex: 1.5;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.pie4you{
  text-align: center;
  font-size: 25px;
}

.PercentGiven{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.PerGivenText{
  position: absolute;
  font-size: 30px;
}

.GaveTitle{
  font-size: 10px;
  text-align: center;
}
.GavePer{
  font-size: 30px;
}

.PerRecivedText{
  position: absolute;
  font-size: 30px;
}

.SummaryDividerTot{
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: solid;
  border-width: thin;
}

.TotSumTitle{
  flex: 0.5;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.ZenFlowLabel{
  font-size: 15px;
}

.TotSumIn{
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.ZenInLab{
  font-size: 20px;
}

.ZenInNum{
    font-size: 25px;
}

#UnderLineElement{
  border-bottom: solid;
  border-width: thin;
}

#ZenLargeDelta{
  font-size: 30px;
  font-weight: bold;
}

.TotSumOut{
  flex: 1;
  background-color: green;
}
.TotSumDelta{
  flex: 1;
  background-color: azure;
}

.SheetContainer{
  flex: 9;
  background-color: white;
  margin-top: 10px;
  border-top: solid;
  border-width: thin;
  display: flex;
  flex-direction: column;
}


.BalenceContainer{
 flex: 9;
 background-color: white;
 margin: 20px;
 border-bottom: solid;
 border-width: thin;
 display: flex;
 flex-direction: column;
}


.TransactionCol{
  flex: 1;
  background-color:  transparent;
  text-align: center;
  font-size: 18px;
  border-bottom: solid;
  border-width: thin;
  border-color: grey;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TransactionPic{
  width: 30px;
  height: 30px;
  border: solid;
  border-width: thin;
  border-color: grey;
}

.TranscationPicImg{
  width: 30px;
  height: 30px;
}

.TransactionTitle{
  flex: 1;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid;
  border-width: thin;
}

.BalenceHeader{
 flex: 0.5;
 background-color: red;
}

.TransactionItem{
  flex: 0.5;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
}

.TransactionContainer{
  flex: 8;
  background-color: red;
  overflow: scroll;
}
.TransactionSummaryStats{
  flex: 1;
  background-color: blue;

}
.TransactionOverflowBox{
  flex: 1;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TransactionNavigation{
  background-color: blue;
  display: flex;
}

.SheetBack{
  font-size: 20px;
  background-color: yellow;
}
.SheetNumber{
  font-size: 20px;
  background-color: orange;
}
.SheetForward{
  font-size: 20px;
  background-color: red;
}
