@keyframes fadin {
  0% { opacity: 0 }
  100% {opacity: 1 }
}

@keyframes popin {
  0% { top: 100vh; position: relative; }
  100% { top: 0; position: relative; }
}

.settings-container{
  display: flex;
  padding: 50px;
  text-align: center;
}

.settings-input{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 100px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.settings-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.settings-info{
  padding: 40px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo-upload-container {
  background-color: #ddd;
  border-radius: 25px;
  padding: 15px;
  border-style: dashed;
  border-color: #bbb;
  opacity: 0.5;
  width:150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}

.logo-upload-container:hover {
  opacity: 0.8;
}

.logo-upload-text {
  display: flex;
  flex-flow: nowrap row;
  color: grey;
}

.add-logo{
  display: flex;
}

.pwr-by-settings{
  text-align: center;
  font-size: x-small;
}

.settings-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  width: 150px;
  text-align: center;
  border: solid 1px;
  padding: 0 15px 0 15px;
  background-color: white;
  color: black;
  transition: all 0.2s ease;
  margin-top: 2.5vh;
}

.settings-btn:hover {
  background-color: rgba(88, 51, 161, 0.685);
  color: white;
}

.header-settings{
  text-align: center;
}

.container-settings {
  display: flex
}

.manage-users{
  display: flex;
}

.admin-set-btns{
  display: flex;
  flex-direction: column;
}

/*.settings-info-admin{
  width:50vh;
}*/

.mng-users-btn{
  display: flex;
}

.cls-btn{
  position: absolute;
  top: 30px;
  right: 50px;
}

.up-theme{
  display: flex;
  flex-direction: column;
}
