.settings-container{
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-img{
    flex-grow: 1;
    margin-top: 100px;
    padding: 50px;
}

.settings-info{
  flex-grow: 1;
  margin-top: 142px;
  padding-left: 0px;
}

.set-pic{
 margin-left: 60px;
}

.edit-btn-settings{
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.pwr-by-settings{
  text-align: center;
}

.settings-label{
  margin-bottom: 11px;
  padding: 10px;
}

.edit-btn-settings {
  width: 162px;
}

.settings-btn{
  border-width:2px;
  border-style: solid;
  
}
.settings-upload-pic{
  height: 150px;
  width: 150px;
}

.close-btn{
  margin-right: 68px;
  margin-top: 20px;
}

.btn-upload{
  margin-top: 53px;
  margin-bottom: 20px;
}

.admin-header{
  display:flex;
}
